<% provide(:title, (t ".home_title"))%>
<div class="post">
  <h2 class="title"><%=(t ".welcome")%></h2>
  <div class="entry">
    <p><%= t ".this_is" %> <strong><%= (t ".store") %></strong></p>
  </div>
</div>
  <div class="all-book row">
    <% if params[:search_book] %>
      <%= render "search_results" %>
    <% else %>
      <%= render @books %>
    <% end %>
  </div>
  <div class="paginate-book">
    <%= paginate @books, theme: "twitter-bootstrap-3" %>
  </div>
</div>
<% end %>
<div class="all-book row">
  <%= render @books %>
</div>
<div class="paginate-book">
  <%= paginate @books, theme: "twitter-bootstrap-3" %>
</div>
