<% provide(:title, (t ".home_title"))%>
  <% if params[:q] %>
    <div class="all-book row">
      <div class="post">
        <span class="title owl"><h2><%= "Search results" %></h2></span>
      </div> </br>
        <%= render @books %>
    </div>
  <% else %>
    <div class="all-book row">
      <div class="post">
        <span class="title owl"><h2><%=(t ".hot")%></h2></span>
      </div>
    <div class="post">
      <div class="owl-carousel">
        <%= render collection: @owl_books, partial: "owl_book" %>
      </div>
    </div>
    <%= render @books %>
    </div>
  <% end %>
<div class="paginate-book">
  <%== pagy_nav_bootstrap(@pagy) %>
</div>
