<% provide(:title, (t ".home_title"))%>
<div class="post">
  <h2 class="title"><%=(t ".welcome")%></h2>
  <div class="entry">
    <p><%= t ".this_is" %> <strong><%= (t ".store") %></strong></p>
  </div>
</div>

<div class="all-book row">
  <% if params[:search_book] %>
    <%= render "search_results" %>
  <% else %>
    <%= render @books %>
  <% end %>
</div>
<div class="paginate-book">
  <%== pagy_nav_bootstrap(@pagy) %>
</div>
